:root {
  --unit: 0.0625rem;
}

@media screen and (min-width: 480px) and (max-width: 1023px) {
  :root {
    --unit: 0.075rem;
  }
}

@media screen and (min-width: 1023.1px) {
  :root {
    --unit: 0.1125rem;
  }
}

* {
  box-sizing: border-box;
  /*border : solid calc(1 * var(--unit)) ;/* */
}

/* Base */
.tab2 { width: calc(20 * var(--unit)); display: inline-block; }
.tab5 { width: calc(50 * var(--unit)); display: inline-block; }

/* width */
.w20 { width: calc(20 * var(--unit)); }
.wmc { width: max-content; }
.wfc { width: fit-content; }
.w100p { width: 100%; }
.w100vw { width: 100vw; }

/* height */
.h20 { height: calc(20 * var(--unit)); }
.hmc { height: max-content; }
.hfc { height: fit-content; }
.h100p { height: 100%; }
.h100vh { height: 100vh; }

/*----- font-----*/
/* size */
.fs0\.5 { font-size: calc(0.5 * 16 * var(--unit)); }
.fs0\.75 { font-size: calc(0.75 * 16 * var(--unit)); }
.fs0\.8 { font-size: calc(0.8 * 16 * var(--unit)); }
.fs0\.85 { font-size: calc(0.85 * 16 * var(--unit)); }
.fs0\.9 { font-size: calc(0.9 * 16 * var(--unit)); }
.fs0\.95 { font-size: calc(0.95 * 16 * var(--unit)); }
.fs1 { font-size: calc(1 * 16 * var(--unit)); }
.fs1\.2 { font-size: calc(1.2 * 16 * var(--unit)); }
.fs1\.5 { font-size: calc(1.5 * 16 * var(--unit)); }
.fs1\.7 { font-size: calc(1.7 * 16 * var(--unit)); }
.fs2 { font-size: calc(2 * 16 * var(--unit)); }
.fs2\.5 { font-size: calc(2.3 * 16 * var(--unit)); }
.fs3 { font-size: calc(3 * 16 * var(--unit)); }
.fs4 { font-size: calc(4 * 16 * var(--unit)); }

/* weight */
.fw5 { font-weight: 500; }
.fw7 { font-weight: 700; }
.fw8 { font-weight: 800; }
.fw9 { font-weight: 900; }

/* style */
.ita { font-style: italic; }

/* display */
.dib { display: inline-block; }
.db { display: block; }
.di { display: inline; }
.hidden { display: none; }

/* flex */
.flexr { display: flex; }
.flexc {
  display: flex;
  flex-direction: column;
}
.spread1 {
  display: flex;
  justify-content: space-around;
}
.spread2 {
  display: flex;
  justify-content: space-between;
}
.hstrech {
  display: flex;
  justify-content: stretch;
}

.jcc { justify-content: center; }
.jcfs { justify-content: flex-start; }
.aic { align-items: center; }
.aifs { align-items: flex-start; }

/* padding */
.p0 { padding: 0px; }
.p2 { padding: calc(2 * var(--unit)); }
.p4 { padding: calc(4 * var(--unit)); }
.p6 { padding: calc(6 * var(--unit)); }
.p8 { padding: calc(8 * var(--unit)); }
.p10 { padding: calc(10 * var(--unit)); }
.p15 { padding: calc(15 * var(--unit)); }
.p20 { padding: calc(20 * var(--unit)); }

/* margin */
.mau { margin: auto; }
.m0 { margin: 0; }

.my0 {
  margin-top: 0;
  margin-bottom: 0;
}
.mx0 {
  margin-left: 0;
  margin-right: 0;
}

.m0a { margin: 0 auto; }
.ma0 { margin: auto 0; }

.m5 { margin: calc(5 * var(--unit)); }
.my5 {
  margin-top: calc(5 * var(--unit));
  margin-bottom: calc(5 * var(--unit));
}
.mx5 {
  margin-left: calc(5 * var(--unit));
  margin-right: calc(5 * var(--unit));
}
.may5 { margin: calc(5 * var(--unit)) auto; }
.max5 { margin: auto calc(5 * var(--unit)); }

.m10 { margin: calc(10 * var(--unit)); }
.my10 {
  margin-top: calc(10 * var(--unit));
  margin-bottom: calc(10 * var(--unit));
}
.mx10 {
  margin-left: calc(10 * var(--unit));
  margin-right: calc(10 * var(--unit));
}
.may10 { margin: calc(10 * var(--unit)) auto; }
.max10 { margin: auto calc(10 * var(--unit)); }

.m20 { margin: calc(20 * var(--unit)); }
.my20 {
  margin-top: calc(20 * var(--unit));
  margin-bottom: calc(20 * var(--unit));
}
.mx20 {
  margin-left: calc(20 * var(--unit));
  margin-right: calc(20 * var(--unit));
}
.may20 { margin: calc(20 * var(--unit)) auto; }
.max20 { margin: auto calc(20 * var(--unit)); }

.m30 { margin: calc(30 * var(--unit)); }
.my30 {
  margin-top: calc(30 * var(--unit));
  margin-bottom: calc(30 * var(--unit));
}
.mx30 {
  margin-left: calc(30 * var(--unit));
  margin-right: calc(30 * var(--unit));
}
.may30 { margin: calc(30 * var(--unit)) auto; }
.max30 { margin: auto calc(30 * var(--unit)); }

.m60 { margin: calc(60 * var(--unit)); }
.my60 {
  margin-top: calc(60 * var(--unit));
  margin-bottom: calc(60 * var(--unit));
}
.mx60 {
  margin-left: calc(60 * var(--unit));
  margin-right: calc(60 * var(--unit));
}
.may60 { margin: calc(60 * var(--unit)) auto; }
.max60 { margin: auto calc(60 * var(--unit)); }

.m100 { margin: calc(100 * var(--unit)); }
.my100 {
  margin-top: calc(100 * var(--unit));
  margin-bottom: calc(100 * var(--unit));
}
.mx100 {
  margin-left: calc(100 * var(--unit));
  margin-right: calc(100 * var(--unit));
}
.may100 { margin: calc(100 * var(--unit)) auto; }
.max100 { margin: auto calc(100 * var(--unit)); }




.m120 { margin: calc(120 * var(--unit)); }
.my120 {
  margin-top: calc(120 * var(--unit));
  margin-bottom: calc(120 * var(--unit));
}
.mx120 {
  margin-left: calc(120 * var(--unit));
  margin-right: calc(120 * var(--unit));
}
.may120 { margin: calc(120 * var(--unit)) auto; }
.max120 { margin: auto calc(120 * var(--unit)); }

/* Alignment */
.center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.lalign { text-align: left; }
.lright { text-align: right; }

/* background */
.bgblue {
  background: blue;
  color: white;
}
.bgdblue {
  background: dodgerblue;
  color: white;
}
.bgb1 {
  background: #07B2FF;
  color: white;
}
.bgcyan {
  background: cyan;
  color: black;
}
.bggray {
  background: gray;
  color: white;
}
.bglgray {
  background: lightgray;
  color: black;
}
.bgblack {
  background: #000;
  color: white;
}
.bgws {
  background: whitesmoke;
  color: black;
}
.bg7t { background: #777; }
.bg9t { background: #999999; }
.bgct { background: #ccc; }

/* border */
.borblack { border: solid calc(2 * var(--unit)) black; }
.borblue { border: solid calc(1 * var(--unit)) blue; }
.borred { border: solid calc(1 * var(--unit)) red; }
.bordb { border: solid calc(1 * var(--unit)) dodgerblue; }
.borno { border: none; }

/* color */
.coldb { color: dodgerblue; }
.col7t { color: #777; }
.colw { color: white; }
.colb { color: blue; }

/* li */
.lisq { list-style-type: square; }
.lidi { list-style-type: disc; }
.lici { list-style-type: circle; }

.lideci { list-style-type: decimal; }
.lirom { list-style-type: lower-roman; }
.liRom { list-style-type: upper-roman; }
.lialpha { list-style-type: lower-latin; }
.liAlpha { list-style-type: upper-alpha; }

      /*-----------basic---------*/
.box0 {
  min-width: calc(48 * var(--unit));
  min-height: calc(24 * var(--unit));
  width: 25vw;
  height: 7vw;
  border: solid calc(2 * var(--unit)) black;
}

.btn0 {
  min-width: calc(48 * var(--unit));
  min-height: calc(24 * var(--unit));
  width: 25vw;
  height: 7vw;
  border: ridge calc(2 * var(--unit)) black;
  border-radius: 2vw;
  font-weight: bold;
  background: rgba(200, 200, 200, 1);
  transition: 0.1s ease;
}

.btn0:active { transform: scale(0.95); }

@keyframes hscroll {
  from {
    transform: translateX(100%);
  }
  
  to {
    transform: translateX(-105%);
  }
}

.aniBox { overflow: hidden; }

.hscrolled {
  display: inline-block;
  animation-name: hscroll;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* ----- Project specific ----*/
body {
  font-family: 'Times New Roman', Times, Serif;
  background: url(../images/sparkbg.png);
  margin: 0;
}

section {
  min-height: 100vh;
  margin: calc(20 * var(--unit)) calc(15 * var(--unit));
  padding-top: calc(100 * var(--unit));
  background-color: whitesmoke;
  border-radius: calc(10 * var(--unit));
}

header {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#logoimg {
  width: calc(355 * var(--unit));
  height: calc(355 * var(--unit));
  margin-bottom: calc(30 * var(--unit));
}

h1, h2, h3, h4 { color: dodgerblue; }

blockquote{
  background: dodgerblue;
  color: white;
  padding: 5px;
  border-left: solid 5px springgreen;
  border-radius: 3px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.hrdb {
  background-color: dodgerblue;
  width: 90%;
  border: none;
  height: calc(3 * var(--unit));
}

hr.borno {
  height: calc(2 * var(--unit));
  background-color: #999999;
}

ul, ol, menu {
  padding-left: 0;
  list-style-type: none;
}

ul ul, ol ol, ul ol, ol ul { padding-left: calc(20 * var(--unit)); }

menu, nav ol {
  list-style-type: none;
  width: max-content;
}

menu li, nav li { margin: calc(10 * var(--unit)) auto; }

div > a, li > a { text-decoration: none; }

li > a { font-size: calc(1.2 * 16 * var(--unit)); }

.centli {
  margin: auto;
  padding: calc(20 * var(--unit));
  width: fit-content;
}
.centli li {
  margin: calc(5 * var(--unit)) auto;
  list-style-position: inside;
  text-align: left;
}

/* table */
table {
  border-collapse: collapse;
  margin: auto;
  /* ❗ needs to be centered*/
}

th, td {
  border: solid calc(1 * var(--unit));
  border-color: inherit;
  padding: calc(2 * var(--unit));
}

.borno th, .borno td {
  border: none;
  padding: calc(2 * var(--unit));
}
.tp4 th, .tp4 td { padding: calc(4 * var(--unit)) !important; }

.btn {
  display: inline-block;
  border: solid calc(1 * var(--unit)) white;
  border-radius: calc(20 * var(--unit));
  padding: calc(13 * var(--unit));
  background-color: dodgerblue;
  color: white;
  transition: 0.1s ease;
  margin: calc(5 * var(--unit));
}

.btn:active { transform: scale(0.95); }

#menu1 .btn { width: 100%; }

.page { margin-top: calc(250 * var(--unit)); }

/* ----- Very specific ----- */
/* Header */
.tp {
  position: fixed;
  left: 0;
  top: 0;
  background: white;
  width: 100%;
  max-height: calc(300 * var(--unit));
  display: flex;
  align-items: center;
  overflow: visible;
  z-index: 1000;
}

.t3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
  margin: calc(10 * var(--unit));
  max-height: max-content;
}

.t3 span {
  display: block;
  padding: calc(3 * var(--unit)) calc(15 * var(--unit));
  background: dodgerblue;
  border-radius: calc(4 * var(--unit));
  margin: calc(2 * var(--unit)) auto;
  transition: 0.1s ease;
}

.t3:active { transform: scale(0.95); }

#menu1 {
  position: fixed;
  left: 0;
  top: calc(45 * var(--unit));
  background: white;
  width: 80%;
  border: solid #0159FF calc(3 * var(--unit));
  border-radius: calc(5 * var(--unit));
  z-index: 1000;
  display: none;
}

#menu1 li { margin: 0 auto; }

#menu2 a {
  padding: calc(5 * var(--unit));
  font-size: calc(0.7 * 16 * var(--unit));
  margin: 0 calc(3 * var(--unit));
}

#menu2 {
  width: 100%;
  border-bottom: solid dodgerblue calc(4 * var(--unit));
  border-top: solid dodgerblue calc(2 * var(--unit));
  border-bottom-left-radius: calc(4 * var(--unit));
  border-bottom-right-radius: calc(4 * var(--unit));
}



@media screen and (min-width: 1023.001px) {
  #logoimg{
    width: calc(300 * var(--unit));
    height: calc(300 * var(--unit));
    margin-bottom: calc(20 * var(--unit));
  }
  @keyframes hscroll {
    from {
      transform: translateX(100vw);
    }
  
    to {
      transform: translateX(-175%);
    }
  }

}
